

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
.jockey-one-regular {
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
  background-color: #3aafa9;
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h2 {
  font-family:"Inter", Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    font-size: 2.5rem;
}
h1 {
  font-family:"Inter", Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    font-size: 3.5rem;
}

div.light-blue {
  background-color: #3aafa9;
}
div.dark-blue {
  background-color: #2b7a78;
}
div.darkest-blue {
  background-color: #17252a;
}
div.section {
  padding: 5rem 5rem;
}
#navbar {
  position: fixed;
  top: 0;
  background-color: rgb(0,0,0,0);
  
}
.text-black {
  color: #17252a !important;
}
.text-white {
  color: #feffff !important;
}
#search-div {
  margin: 20rem 0rem 0 11rem;
  height: 100vh;
}
.img-box {
  aspect-ratio: 1;
}
#popular-tracks {
  overflow-x: hidden;
}
#popular-artists {
  background-color: #17252a;
}
#popular-albums {
  background-color: #3aafa9;
}
#popular-artists Link {
  text-decoration: none !important;
  color: #feffff !important;
}
Link.text-white:hover {
  color: #cde1e1 !important;
}
#image-left-section {
  margin: 7rem 0rem 0rem 10rem;
  background-color: #2b7a78;
}

#image-left-section div ul li {
  list-style-type: none !important;
  padding: 5px 0;
}

footer{
  background-color: #17252a;
  position: fixed;
  width: 100%;
  bottom: 0;
}
footer a {
  color: #feffff !important;
}
footer span a {
padding: 0 0.5em;
}
